
section div {
    margin: .5em;
    height: 10vmin;
    width: 10vmin;
    background-color: red;
}
section {
    display: flex;
    flex-direction: row;
}

body {
    color: white;
    font-size: 2em;
    
}

.disabled {
    background-color: green;
}